@import "./variables";

.card {
  &.card-custom {
    border-radius: 20px 5px 5px 20px;
    background-color: $primaryColor;
    border: none;

    .card-header {
      border: none;
      background: none;
    }
    .card-body {
      border: none;
      background: none;
    }
    .card-footer {
      border: none;
    }
  }

  &.card-border-custom {
    border-radius: 0;
    border-radius: 0px 20px 20px 20px;
  }
}
