/* Scrollbar */
/* width */
@import "./variables";

::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba($color: $secondaryColor, $alpha: 0.09);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color: $secondaryColor, $alpha: 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($color: $secondaryColor, $alpha: 0.8);
  border-radius: 10px;
}
