@import "./variables";

.success-toast {
  border-radius: 25px;
  border-width: 2px;
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */

  text-align: center; /* Centered text */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}
.success-toast-enter {
  opacity: 0.01;
  transform: scale(0);
}

.success-toast-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: transform 500ms ease, opacity 300ms ease;
}

.success-toast-exit {
  opacity: 1;
}

.success-toast-exit-active {
  opacity: 0.01;
  transform: scale(0);
  transition: transform 200ms ease-in, opacity 150ms ease;
}
