/*imported color palette*/

$color1: rgba(46, 41, 78, 1);
$color2: rgba(217, 3, 104, 1);
$color3: rgba(186, 117, 169, 1);
$color4: rgba(234, 222, 218, 1);
$color5: rgba(255, 212, 0, 1);

/*my variables*/
$darkColor: $color1;
$primaryColor: $color4;
$secondaryColor: $color2;
$backgroundColor: $color3;
$lighterColor: $color5;

$primaryFont: "Poppins", sans-serif;

/*logo colors*/
$logoPrimary: $color1;
$logoSecondary: $primaryColor;
$logoFont: "Righteous", cursive;
