/* Coolors Exported Palette - coolors.co/2f4858-33658a-86bbd8-f6ae2d-f26419 */

/* HSL */
$color1: hsla(203%, 30%, 26%, 1);
$color2: hsla(206%, 46%, 37%, 1);
$color3: hsla(201%, 51%, 69%, 1);
$color4: hsla(39%, 92%, 57%, 1);
$color5: hsla(21%, 89%, 52%, 1);

/* RGB */
$color1: rgba(47, 72, 88, 1);
$color2: rgba(51, 101, 138, 1);
$color3: rgba(134, 187, 216, 1);
$color4: rgba(246, 174, 45, 1);
$color5: rgba(242, 100, 25, 1);