/* Coolors Exported Palette - coolors.co/f7c1bb-885a5a-353a47-84b082-dc136c */

/* HSL */
$color1: hsla(6%, 79%, 85%, 1);
$color2: hsla(0%, 20%, 44%, 1);
$color3: hsla(223%, 15%, 24%, 1);
$color4: hsla(117%, 23%, 60%, 1);
$color5: hsla(333%, 84%, 47%, 1);

/* RGB */
$color1: rgba(247, 193, 187, 1);
$color2: rgba(136, 90, 90, 1);
$color3: rgba(53, 58, 71, 1);
$color4: rgba(132, 176, 130, 1);
$color5: rgba(220, 19, 108, 1);