/* Coolors Exported Palette - coolors.co/2e294e-d90368-9ed1ff-eadeda-ffd400 */

/* HSL */
$color1: hsla(248%, 31%, 23%, 1);
$color2: hsla(332%, 97%, 43%, 1);
$color3: hsla(208%, 100%, 81%, 1);
$color4: hsla(15%, 28%, 89%, 1);
$color5: hsla(50%, 100%, 50%, 1);

/* RGB */
$color1: rgba(46, 41, 78, 1);
$color2: rgba(217, 3, 104, 1);
$color3: rgba(158, 209, 255, 1);
$color4: rgba(234, 222, 218, 1);
$color5: rgba(255, 212, 0, 1);