@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: rgba(31, 30, 14, 1);
}
.login-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgb(31, 30, 14);
  background: linear-gradient(
      90deg,
      rgba(31, 30, 14, 1) 0%,
      rgba(42, 31, 0, 1) 100%
    )
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* @media only screen and (max-width: 600px) {
  .login-bg {
    background: rgb(31, 30, 14);
  }
} */

#logo {
  color: #ffc107;
  font-family: "Righteous", cursive;
}
#logo span {
  color: #f8f9fa;
}

#greeting {
  font-family: "Roboto Slab", sans-serif;
}
.expense-table-hr {
  border-top: 1px solid rgb(190, 190, 190);
}

.login-box,
.signup-box {
  font-family: "Roboto Slab", sans-serif;
}

.login-input {
  text-align: center;
  background: none;
  border-color: orange;
  color: white;
}
.signup-input {
  background: none;
  border-color: orange;
  color: white;
}

.login-input:focus,
.signup-input:focus {
  color: white;
  background: none;
  border-color: rgb(255, 211, 130);
  box-shadow: 0 0 5px 1px rgba(255, 166, 0, 0.521);
}

.expense-input,
.expense-input:focus {
  outline: none;
  border: none;
  font-family: "Cairo", sans-serif;
  background: none;
  border: 1px solid orange;
}
.expense-input:focus {
  box-shadow: 0 0 10px 1px rgba(255, 166, 0, 0.39);
}

.button-glow {
  border-radius: 0 10px 10px 0 !important;
  box-shadow: 0 0 0px 0px rgba(255, 166, 0, 0) !important;
  transition: box-shadow background-color 1ms ease;
}
.button-glow-login {
  box-shadow: 0 0 0px 0px rgba(255, 166, 0, 0) !important;
  transition: box-shadow background-color 1ms ease;
}

.button-glow:focus,
.button-glow:active,
.button-glow:active:focus,
.button-glow:focus:active {
  box-shadow: 0 0 10px 1px rgba(255, 166, 0, 0.39) !important;
}
#spinner-icon {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  color: black; /* White text color */
  background-color: rgba(45, 231, 92, 0.932);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.13);
  text-align: center; /* Centered text */
  border-radius: 16px;
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  #greeting {
    font-size: 20px;
  }

  .expense-table-heading {
    font-size: 11px;
  }
  .expense-table-card-header .badge {
    font-size: 10px;
    font-weight: normal;
  }
  #expense-table {
    font-size: 10px;
  }
}
