@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

body {
  font-family: "Abel", sans-serif;
  background-color: #ffc6ff;
  background-image: linear-gradient(
    90deg,
    #2b2b2b 0%,
    #3a3a3a 55%,
    #2e2e2e 100%
  );
}
.expense-table-hr {
  border-top: 1px solid rgb(190, 190, 190);
}

.expense-input,
.expense-input:focus {
  outline: none;
  border: none;

  background: none;
  border: 1px solid orange;
}
.expense-input:focus {
  box-shadow: 0 0 10px 1px rgba(255, 166, 0, 0.39);
}

.button-glow {
  border-radius: 0 10px 10px 0 !important;
  box-shadow: 0 0 0px 0px rgba(255, 166, 0, 0) !important;
  transition: box-shadow background-color 1ms ease;
}

.button-glow:focus,
.button-glow:active,
.button-glow:active:focus,
.button-glow:focus:active {
  box-shadow: 0 0 10px 1px rgba(255, 166, 0, 0.39) !important;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  color: black; /* White text color */
  background-color: rgb(45, 231, 92);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.39);
  text-align: center; /* Centered text */
  border-radius: 16px;
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
